<html>
<head>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        Smooch.init({appToken: '{{appToken}}' });
    </script>
</head>
<body>
    <h2>Title</h2>
    <div> 
    <object type="text/html" data="http://awdesh.getforge.io/" width="1000px" height="800px" style="overflow:auto;border:5px ridge blue">
    </object></div>
</body>
</html>